---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html, body {
	width: 100%;
	background-color: #333;
	color: #ddd;
	font-family: 'roboto', helvetica, arial;
}

h1, h2, h3, h4, h5, h6 {
	color: #f8f8ff;
	text-shadow: 0 1px 3px rgba(0,0,0,0.5);
	margin-bottom: 10px;
}

h1, h2 {
	text-align: center;
}

ol {
	counter-reset: item;
	li {
		display: block;
	}
	li:before {
		content: counter( item ) ". ";
		counter-increment: item;
		color: #ddd;
	}
}

p {
	margin-top: 10px;
}

a {
	color: #ccc;
}

hr {
	height: 2px;
	color: #2fcfc3;
	background: #2fcfc3;
	border: 0;
	margin: 5px 0 10px 0;
}

section {
	min-height: 100vh;
	padding-top: 20px;
}

img {
	max-width: 100%;
	margin: 10px;
}

pre {
	background-color: #555;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

* {
	margin: 0;
	padding: 0;

	/*
	transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
	*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#content {
	background-color: #444;
	border-radius: 5px;
	padding: 20px 50px 50px 50px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

@media (max-width: 800px) {
	#content {
		border-radius: 0;
	}
}

#toc {
	background-color: #555;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px 10px 10px 50px;
}

@media (min-width: 1400px) {
	#toc {
		background-color: #444;
		position: absolute;
		width: 250px;
		left: 50px;
		top: 100px;
	}
}

.note {
	background-color: rgba( 70, 137, 144, 0.4 );
	border-radius: 5px;
	margin: 10px;
	padding: 10px 10px 10px 25px;
}

.warning {
	background-color: rgba(255, 165, 0, 0.4);
}

.ingress-separator {
	display: block;
	height: 50px;
	width: 100%;
	padding-top: 10px;
	position: absolute;
	top: 0;
	.left {
		border-top: 1px solid #ddd;
	}

	.right {
		border-bottom: 1px solid #ddd;
	}

	.center {
		width: 60px;
		height: 30px;
		position: absolute;
		left: 50%;
		margin-left: -18px;
		border-left: 2px solid #ddd;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #333;

		transform: skew(50deg);
		-webkit-transform: skew(50deg);
		-moz-transform: skew(50deg);
		-ms-transform: skew(50deg);
		-o-transform: skew(50deg);
	}
}

.ingress-separator > div {
	width: 50%;
	height: 30px;
	float: left;
}

.ingress-button:hover {
	background: #005858;
	color: #FFF;
}
.ingress-button {
	display: block;
	background: #004646;
	border: 1px solid #0FF;
	color: #FFF;
	display: inline-block;
	margin: 5px;
	padding: 10px 50px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}

.ingress-button:hover:before {
	border-bottom-color: #005858;
}

.ingress-button:before {
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid #008B8B;
	content: '';
	display: block;
	height: 2px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 14px;
	z-index: 5;
}

.ingress-button:after {
	border-left: 5px solid rgba(0, 0, 0, 0);
	border-bottom: 5px solid #0FF;
	content: '';
	display: block;
	height: 5px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 15px;
	z-index: 4;
}

.left {
	float: left;
}

.center {
	float: center;
}

.right {
	float: right;
}

.small {
	max-width: 30%;
}
